


.buttons {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 200px;
    margin-bottom: 40px;
    overflow: scroll;
}

button {
    font-size: larger;
    line-height: 25px;
    width: 31vw;
    margin: 6px 0 0 6px;
    color: rgba(64,112,91,255);
    background-color: rgba(201,231,202,255);
    border-radius: 10px;
    border-color: white;
    border-width: 1px;

    
}

button:hover {
    background-color: rgba(64,112,91,255);
    color: rgba(201,231,202,255);
}

.cqdiv, .button, .qbuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.goback {
    background-color: brown;
    color: white;
    right: 0;
    position: fixed;
    font-size: larger;
    margin-right: 4px;
    z-index: 999;
}

.answer-area {
    background-color: azure;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7em;
    margin-top: 7px;
    padding: 0 50px 0 50px;
    overflow: scroll;
}

@media screen and (max-height: 600px) {
    .ansque {
        display: flex;
        flex-direction: row;
        gap: 2px;
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }
    .buttons {
        height: 80vh;
        overflow: scroll;
        margin-top: 50px;
        width: 48vw;
        position: relative;
    }
    .answer-area {
        width: 48vw;
        height: 80vh;
    }

    .button, .cqdiv {
        justify-content: center;
    }

    .img {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}