
.buttons {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 200px;
    margin-bottom: 40px;
    overflow: scroll;
}



button {
    font-size: larger;
    line-height: 25px;
    width: 150px;
    margin: 6px 0 0 6px;
}

.cqdiv, .button, .qbuttons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    align-items: center;
}

.goback {
    background-color: brown;
    color: white;
    right: 0;
    position: fixed;
    font-size: larger;
    margin-right: 4px;
    z-index: 999;
}

.answer-area {
    background-color: azure;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
    padding: 0 50px 0 50px;
}